* {
    margin: 0;
    padding: 0;
    background: #2e353d;
}

.menuButton {
    width: 150px;
    padding: 15px;
    margin: 10px;
    color: #fff;
    background: #007b32;
    text-align: center;
    cursor: pointer;
}

.menuButton {
    background: #009641;
}

#game {
    border-collapse: collapse;
    margin: 2% auto 0;
}

#menu {
    display: flex;
    justify-content: center;
}

td.cell {
    width: 20px;
    height: 20px;
    border: 1px dotted #eee;
    border-collapse: collapse;
}

.food {
    background-color: #00d021;
}

.snakeBody {
    background-color: #e5e5e5;
}

.snakeHead {
    background-color: #9b0013;
}

.disabled {
    background-color: #7c7c7c;
}

.disabled:hover {
    background-color: #7c7c7c;
}